.hidden {
  display: none;
}

body {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#login-form input {
  border: none;
  border-bottom: 1px solid black;
  margin-top: 30px;
  padding: 30px 20px;
  font-size: 30px;
}

#login-form input:focus {
  outline: none;
}

.login-question {
  font-size: 50px;
}

#greeting {
  font-size: 40px;
}
